{% load staticfiles %}

<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'global/images/favicon.ico' %}">

    <title>Machinelol - Results</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'global/Carousel Template/bootstrap.min.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'global/Carousel Template/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'global/Carousel Template/carousel.css' %}" rel="stylesheet">

    <script src="{% static 'global/Carousel Template/ie-emulation-modes-warning.js' %}"></script>

    <!-- Recomendation data request scripts -->
    <script src="{% static 'recomendation/recomendation.js' %}"></script>

    <!-- jQuery -->
    <script src="{% static 'global/Carousel Template/jquery.min.js' %}"></script>

    <!-- Javascript Cookie Library -->
    <script src="{% static 'global/js.cookie.js' %}"></script>
</head>

<!-- NAVBAR ================================================== -->
<body>
    <div class="navbar-wrapper">
        <div class="container">

            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'homepage_index' %}">Machinelol</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'homepage_index' %}">Home</a></li>
                            <li><a href="{% url 'homepage_index' %}#about">About</a></li>
                            <li><a href="{% url 'homepage_index' %}">Contact</a></li>
                            <li class="dropdown">
                                <a href="{% url 'homepage_index' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'homepage_index' %}#">Action</a></li>
                                    <li><a href="{% url 'homepage_index' %}">Another action</a></li>
                                    <li><a href="{% url 'homepage_index' %}">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Nav header</li>
                                    <li><a href="{% url 'homepage_index' %}">Separated link</a></li>
                                    <li><a href="{% url 'homepage_index' %}">One more separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing hidden" id="about">

        <!-- Title -->
        <h2 class="featurette-heading">Results:</h2></br>

        <!-- Account details -->
        <h3>Summoner name: <small>{{ summonerName }}</small></h4>
        <h3>Summoner id: <small>{{ id }}</small></h4>
        <h3>Region: <small>{{ region }}</small></h4>

        <!-- Result display for each type of recomendation -->
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <h2>Winrate</h2>
                <img class="img-thumbnail" src="" id="winrateImage" alt="Champion portrait" width="154" heigth="280">
                <h2 id="winrateName"></h2>
                <p id="winrateTitle"></p>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#detailsModal0">View details</button>
                <!-- Details modal -->
                <div id="winrateDetailsModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Details</h4>
                                <br>
                            </div>
                            <div class="modal-body">
                                <p id="modalText">Ranking de los campeones que ganan más partidas de las que pierden.</p>
                                <h4>Todos los campeones recomendados:</h4>
                                <div id="winrateRanking"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <h2>KDA</h2>
                <img class="img-thumbnail" src="" id="kdaImage" alt="Champion portrait" width="154" heigth="280">
                <h2 id="kdaName"></h2>
                <p id="kdaTitle"></p>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#detailsModal1">View details</button>
                <!-- Details modal -->
                <div id="kdaDetailsModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Details</h4>
                                <br>
                            </div>
                            <div class="modal-body">
                                <p id="modalText">Ranking de los campeones más participativos.</p>
                                <h4>Todos los campeones recomendados:</h4>
                                <div id="kdaRanking"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->

        <br>

        <div class="row">
            <div class="col-lg-4">
                <h2>Champion Mastery</h2>
                <img class="img-thumbnail" src="" id="masteryImage" alt="Champion portrait" width="154" height="280">
                <h2 id="masteryName"></h2>
                <p id="masteryTitle"></p>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#detailsModal2">View details</button>
                <!-- Details modal -->
                <div id="masterDetailsModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Details</h4>
                                <br>
                            </div>
                            <div class="modal-body">
                                <p id="modalText">Ranking de los campeones con más experiencia.</p>
                                <h4>Todos los campeones recomendados:</h4>
                                <div id="masteryRanking"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <h2>Collaborative Filtering</h2>
                <img class="img-thumbnail" src="" id="colaborativeImage" alt="Champion portrait" width="154" heigth="280">
                <h2 id="colaborativeName"></h2>
                <p id="colaborativeTitle"></p>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#detailsModal3">View details</button>
                <!-- Details modal -->
                <div id="colaborativeDetailsModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Details</h4>
                                <br>
                            </div>
                            <div class="modal-body">
                                <p id="modalText">Ranking personalizado basado en los campeones que maestrizan jugadores similares a ti.</p>
                                <h4>Todos los campeones recomendados:</h4>
                                <div id="colaborativeRanking"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <h2>Heuristic</h2>
                <img class="img-thumbnail" src="" id="heuristicImage" alt="Champion portrait" width="154" heigth="280">
                <h2 id="heuristicName"></h2>
                <p id="heuristicTitle"></p>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#detailsModal4">View details</button>
                <!-- Details modal -->
                <div id="HeuristicDetailsModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Details</h4>
                                <br>
                            </div>
                            <div class="modal-body">
                                <p id="modalText">Ranking mixto que congrega los 3 rankings anteriores en uno sólo.</p>
                                <h4>Todos los campeones recomendados:</h4>
                                <div id="heuristicRanking"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        <!-- FOOTER -->
        <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>© 2016 SUT, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </footer>

    </div><!-- /.container -->

    <!-- Loading dialog -->
    <div class="modal fade" role="dialog" id="loadingDialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <h1>Your results are being generated.</h1><br>
                    <p id="dialogContent">A lot of data is being processed. Please be patient.</p>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%;">
                            processing data ...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'global/Carousel Template/bootstrap.min.js' %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static 'global/Carousel Template/holder.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'global/Carousel Template/ie10-viewport-bug-workaround.js' %}"></script>

    <svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">500x500</text></svg>

    <!-- Loading dialog activation/deactivation -->
    <script>
        // Check if HTTP method requires CSRF protection
        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        // Set header on AJAX request, protecting it being sent to other domains.
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        // When document is fully rendered
        $(document).ready(function(){
            $("#dialogContent").text("document ready");

            // Show loading dialog modal
            $("#loadingDialog").modal('show');

            // Get X-CSRFToken from the csrftoken cookie.
            var csrftoken = Cookies.get('csrftoken');

            $("#dialogContent").text("csrf cookie retrieved");
            // Make AJAX request and set featurette DOM elements contents for each recomendation type
            $.ajax({
                type: 'POST',
                url: "{% url 'ajax' %}",
                data: {playerId: '{{ id }}', region: '{{ region }}'},
                cache: false,
                success: function (data, status) {
                    $("#dialogContent").text("ajax call");

                    // For each recomendation type
                    $.each(data, function(key, value) {
                        $("#" + key + "Name").text(value[0].name);
                        $("#" + key + "Title").text(value[0].title);
                        $("#" + key + "Image").attr('src', 'http://ddragon.leagueoflegends.com/cdn/img/champion/loading/' + value[0].name + '_0.jpg');

                        // for each champion in the ranking
                        var content = "<ul>"
                        $.each(value, function(champion) {
                            content = content + ("<li>" + champion.name + "</li>")
                        });

                        $("#" + key + "Ranking").html(content + "</ul>");
                    });
                }
            });

            // Hide loading dialog and show featurettes-
            $("#loadingDialog").modal('hidden');
            $("#about").removeClass('hidden');
        });
    </script>

</body></html>
